body 
{
	margin: 0px;
	padding: 0px;
	background: #9f4h7a;
	color: green;
	font-family: Arial;
}

#uniquestyle
{
	color: #00BFFF;
	font-family: Arial;
	font-size: 30px;
}

h1
{
	color: #E74C3C;
	text-align: center;
	font-size: 25px;
	font-family: Arial;
	background: pink;
}

h2
{
	
	text-align: center;
	color: yellow;
	font-family: Arial;
	font-size: 30px;
}

h3
{
	color: #E74C3C;
	text-align: center;
	font-family: Arial;
	background: purple;
	font-size: 30px;
}
p
{
	color: #f0233zf;
}
.sometext
{
		font-weight: bold;
	  	background: pink;
		text-align: center;
		color: #E74C3C;
}

.someothertext
{
		text-align: center;
		font-family: Courier;
	  	background: green;
		color: yellow;
}



.heart {
   color: red; 
   font-size: 65pt;
}

.words {
   font-family: impact;
   font-size: 46pt;
}

#style1
{
		font-size: 38px;
	  	border: solid yellow;
		color: #00BFFF;
        
}

a
{
	text-decoration: none;
}

a:visited
{
	color: blue;
}

a:hover
{
	border: solid green;
	font-size: 20px;
}






#main-info
{
	float: left;
	width: 627px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

#navigation
{
	background: #666666;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
}

#sub-navigation
{
	background: #dddddd;	
	padding: 5px;
	width: 886px;
	float: left;
	height: 18px;
	font-size: 14px;
}

#aside-title-audio
{
	background: #666666;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: green;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}


.leftboxed {
  border: 1px solid green ;
  width:240px;
  height:123px;
  float:left;
}

		
.rightboxed {
			width:240px;
			border: 1px solid green ;
			height:123px;
			float:right;
			width:240px;
		}